/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;} 
body{background:url(../images/bg.png); font-size:12px;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
abbr,acronym{border:0;}
textarea, input{resize:none;}
button{overflow:visible;width:auto;margin:0;padding:0;border:0 none;outline:none;}
a{color:#666; text-decoration:none;}
.mt20{margin-top:20px;}
.mb7{margin-bottom:7px;}

.w{width:1000px; margin:0 auto;}
.tj{width:1000px; margin:0 auto;margin-top:24px; position:relative; z-index:999;}
.recommend{background:url(../images/recommend.png) no-repeat left;width:82px; height:82px;pointer-events: none; position:absolute; margin-left:-4px; margin-top:-4px; z-index:999;}

.header{width:100%; height:53px; background:url(../images/header.png) repeat-x; overflow:hidden;}
.header .logo{width:122px; height:50px; float:left;}
.nav{width:830px; padding-left:48px; float:right; overflow:hidden;}
.nav ul{width:830px; height:53px; overflow:hidden;}
.nav ul li{float:left; width:87px; height:53px; line-height:50px;}
.nav ul li.line{width:2px; height:53px; background:url(../images/nav_line.png) no-repeat;}
.nav ul li a{width:87px; height:53px; text-align:center; display:block; color:#ccc;}
.nav ul li a:hover{background:#404040; height:50px;}
.nav ul li.hover a,.nav ul li.hover a:hover{background:url(../images/nav_a_h.png) repeat-x; width:87px; height:53px; color:#fff;}


.index-box{width:1000px; height:340px; padding-top:20px; margin:0 auto; overflow:hidden;}
.slide{width:745px; height:340px; float:left; overflow:hidden;}
.FocusPic{zoom:1;position:relative; overflow:hidden}
.FocusPic .content{overflow:hidden}
.FocusPic .content img{width:745px;height:340px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;}
.FocusPic .changeDiv a{position:absolute;top:0px;left:0px;display:none;}
.FocusPic .title-bg,.FocusPic .title{position:absolute;left:0px;bottom:0;width:588px;height:40px;line-height:40px;overflow:hidden; font-size:14px; font-weight:bold;}
.FocusPic .title-bg{background:url(../images/title-bg.png) no-repeat;width:588px;height:40px;/*filter:alpha(opacity=50);opacity:0.5;*/}
.FocusPic .title a{display:block;padding-left:15px;color:#fff;font-size:14px;}
.FocusPic .change{bottom:8px;height:29px;right:3px;*right:5px;_right:4px;position:absolute;text-align:center;z-index:9999;}
.FocusPic .change i{background:#fff;border:1px #C1C1C1 solid; margin-right:2px;color:#999;cursor:pointer;font-family:Arial;font-size:12px;line-height:29px; font-style:normal;width:28px;height:29px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.FocusPic .change i.cur{background:#FFB541;border:1px #EF9331 solid; color:#fff;}
.newpic{width:215px; height:413px; padding:0px 0px 0px 20px; float:right; overflow:hidden; background:url(../images/newpic.png) no-repeat;}
.newpic ul{}
.newpic ul li{background:url(../images/ico2.png) no-repeat 0px 10px; height:29px; line-height:29px; padding-left:15px;}
.newpic ul li a:hover{text-decoration:underline;color:#FA4B6E;}
.title-a h2,.title-a strong{color:#333; font-size:14px; font-weight:bold; padding-left:15px; height:40px; line-height:40px; display:block; background:url(../images/ico1.png) 0px 13px no-repeat;}

.main{width:1000px; margin:0 auto; overflow:hidden;}

.pic-list{width:1000px;}
.pic-list ul{width:1200px; overflow:hidden;}
.pic-list li{width:235px; height:402px; overflow:hidden; float:left; margin-right:20px; margin-bottom:20px;}
.pic-list li.l{width:490px;}
.pic-list li .name{width:235px; height:53px; text-align:left; line-height:53px; background:url(../images/piclist-span.png) no-repeat;}
.pic-list li.l .name{width:490px; background:url(../images/piclist-span2.png) no-repeat;}
.pic-list li .name a{width:235px; height:53px; text-indent:20px; line-height:53px; display:block;}
.pic-list li.l .name a{width:490px;}
.pic-list li .name a:hover{text-decoration:underline;color:#FA4B6E;}
.pic-list li .picbox{width:235px; height:350px; position:relative; overflow:hidden; text-align:center; vertical-align:middle;}
.pic-list li.l .picbox{width:490px;}
.pic-list li .picbox img{width:235px; height:350px; line-height:350px; border-top-left-radius:3px; border-top-right-radius:3px; background:url(../images/loading.gif) center no-repeat; vertical-align:middle;}
.pic-list li.l .picbox img{width:490px; height:350px;}
.pic-list li .picbox div{width:235px;height:350px;left:0;top:0;padding:0px 0px 0px 0px; position:absolute; background:url(../images/a.gif);}
.pic-list li.l .picbox div{width:490px;}
.pic-list li .picbox div b{display:block; width:235px; height:350px; top:350px; position:absolute; left:0; z-index:1;  background:url(../images/pic-list-b.png) no-repeat;border-top-left-radius:3px; border-top-right-radius:3px;}
.pic-list li.l .picbox div b{width:490px;background:url(../images/pic-list-b2.png) no-repeat;}
.pic-list li .picbox div b a{background:url(../images/pic-list-b-a-h.png) no-repeat 73px 125px; width:235px; height:350px; display:block;}
.pic-list li.l .picbox div b a{background-position:200px 125px;width:490px}

.place{height:41px;line-height:41px;color:#999;overflow:hidden;font-family:ו;text-align:left;position: relative;}
.place a{color:#999;margin:0 2px;}
.place a:hover{color:#FA4B6E;text-decoration:underline;margin:0 2px;}
.place .tieba{color:#EF4C79;font-size: 12px;position: absolute;padding-left:20px;right:5px;top:0;background: url(../images/tieba.png) no-repeat 0 12px ;}
#content{width:1000px; overflow:hidden; background:url(../images/linksbox.png) bottom #fff no-repeat;}
.content-t{width:1000px; overflow:hidden; height:7px; background:url(../images/linksbox-t.png) no-repeat;}
#content .title{height:50px; line-height:50px; padding:0px 30px;}
#content h1{float:left; color:#333; font-size:14px; width:420px; font-weight:bold;}
#content .steps{width:100px;float:left;text-align:center;}
#content .steps .nowpage{color:#EE4C78;font-style:italic;font-family:"Microsoft YaHei";font-size:23px;}
#content .steps .totalpage{font-size:14px;}
#content .tips{width:420px;float:left;text-align:right; color:#999; font-size:14px;}
#content .big-pic{width:940px;margin:0 auto; text-align:center; padding:10px; background-color:#EDEDEF; position:relative; overflow:hidden;}
#content .big-pic #big-pic{display:table-cell;vertical-align:middle;*display:block; overflow:hidden;*font-size:480px; width:960px; height:650px;}
.photo_prev{position:absolute;left:0;top:0;width:50%;height:9999px;z-index:100;}
.photo_next{position:absolute; right:0; top:0; width:50%; height:9999px; z-index:100}

.photo_prev a,.photo_next a{background-image:url(../images/blank.gif);display:block; width:100%; height:100%; outline:none;}
#content .list-pic{padding:14px 20px; height:135px}
#content .cont{overflow:hidden; float:left; width:676px; height:120px}
#content .cont li{float:left; width:136px; text-align:center; display:block; overflow:hidden}
#content .cont li .img-wrap{width:102px; height:102px; margin:0 auto;}
#content .cont li .img-wrap a{*font-size:55px;width:102px; height:102px; outline:medium none;position:relative;}
#content .cont li .img-wrap img{width:102px; height:102px;}
#content .cont li .img-wrap a span{font-size:12px;font-weight:normal;cursor:pointer;display:block;position:absolute;bottom:0;right:0;width:18px;height:15px;line-height:15px;background-color:black;color:white;opacity: 0.6;fiter:alpha(opacity=60)}
#content .cont li.on .img-wrap{border:2px solid #EF4C79;}
.img-wrap{border:1px solid #ddd; padding:1px; text-align:center;}
.img-wrap a{display:table-cell;vertical-align:middle;*display:block; overflow:hidden;}
.img-wrap a span{line-height:40px;color:#999}
.img-wrap a:hover{}
.img-wrap a:hover span{color:#FA4B6E}
#content .list-pic .pre,#content .list-pic .next{float:left; display:block; position:relative;background:url(../images/pic_bg.png) no-repeat;width:108px;height:108px; text-align:center}
#content .list-pic .pre{left:-8px;top:-3px; margin-right:14px}
#content .list-pic .next{right:-8px; float:right;top:-3px}
#content .list-pic .pre .img-wrap,#content .list-pic .next .img-wrap{width:98px; height:98px;border:none; padding:2px 8px 8px 2px;}
#content .list-pic .pre .img-wrap img{width:98px; height:98px;}
#content .list-pic .next .img-wrap img{width:98px; height:98px;}
#content .list-pic .pre .img-wrap a,#content .list-pic .next .img-wrap a{*font-size:53px;width:98px; height:98px;}
#content .list-pic .pre .img-wrap a:hover,#content .list-pic .next .img-wrap a:hover{background:none}
#content .list-pic .next{right:-8px; float:right;bottom:-2px}
#content .pre-bnt,#content .next-bnt{margin-top:3px;cursor:hand;!important;cursor:pointer}
#content .pre-bnt,#content .next-bnt,#content .pre-bnt span,#content .next-bnt span{display:block; width:20px; height:39px; float:left; margin-top:13px;}
#content .pre-bnt-on{background:url(../images/big-btn.png) 0px 0px;}
#content .pre-bnt span{background:url(../images/big-btn.png) 0px 0px;}
#content .pre-bnt:hover span{background:url(../images/big-btn.png) -20px 0px;}
#content .next-bnt-on{background:url(../images/big-btn.png) 0px -39px;}
#content .next-bnt span{background:url(../images/big-btn.png) 0px -39px;}
#content .next-bnt:hover span{background:url(../images/big-btn.png) -20px -39px;}
#endSelect{top:290px;left:363px;position:absolute;width:230px;height:71px;border:1px solid #8a8a8a;display:none;z-index:200;}
#endSelect .bg{height:100%;width:100%;background:#000;filter:Alpha(Opacity=50);opacity:0.5;}
#endSelect .E_Cont{position:absolute;top:10px;left:26px;color:#fff;font-size:14px;}
#endSelect .E_Cont p{padding:4px 0;zoom:1;overflow:hidden;}
#rePlayBut,#nextPicsBut,#endSelect #endSelClose{background:url(../images/big-btn.png) no-repeat}
#rePlayBut{float:left;width:69px;height:23px;background-position:0px -167px;}
#nextPicsBut{float:left;width:97px;height:23px;background-position:-100px -167px;margin-left:10px;}
#endSelect #endSelClose{background-position:0px -217px;position:absolute;top:3px;right:3px;cursor:pointer;width:11px;height:11px;overflow:hidden;z-index:2;}
.type{height:25px; width:960px; padding:10px 20px 0px 20px; overflow:hidden; line-height:25px; color:#999;}
.type .dingyue{width:450px; float:left; text-align:left;}
.type .dingyue strong{color:#999; float:left;}
.type .dingyue strong a{color:#333;}
.type .dingyue strong a:hover{text-decoration:underline;color:#FA4B6E;}
.type .dingyue span{float:left; padding-left:20px;}
.type .dingyue span a{width:83px; height:25px;display:block;background:url(../images/dingyue.png) no-repeat;}
.type .share{width:202px; float:right;}
.linkbox-t{width:1000px; overflow:hidden; height:7px; background:url(../images/linksbox-t.png) no-repeat;}
.linkbox{width:1000px; padding-bottom:10px; margin-bottom:20px; overflow:hidden; background:url(../images/linksbox.png) bottom #fff no-repeat;}
.linkbox  li{float:left; margin-left:10px;}
.linkbox .pic-links img{width:110px; height:34px; padding:5px; border:1px solid #e8e8e8; display:block;margin-left:8px;}
.linkbox .txt-links{padding-top:5px;}
.linkbox .txt-links a{width:130px; height:32px; line-height:32px; text-align:center; display:block; color:#666;}
.linkbox .txt-links a:hover{text-decoration:underline;color:#FA4B6E;}

.pages{text-align:center;height:39px; line-height:32px;font-size:14px; color:#666; margin-top:35px; padding-bottom:15px; }
.pages a{font-family:"\5b8b\4f53";display:inline-block; height:32px; text-align:center; padding:0 14px;  background:#fff; border:1px solid #e0e0e0; 
 border-radius:2px;color:#666;
background:-moz-linear-gradient(top, #ffffff, #eaeaea); /* Firefox */ 
background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea)); /* Saf4+, Chrome */ 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType='0'); /* IE*/}
.pages .active{border-color:#e72c52; background:#f33f63; color:#fff;filter:none;font-weight:bold}
.pages a:hover{border-color:#FA4B6E; color:#FA4B6E;}
.pages .active:hover{border-color:#e72c52; background:#f33f63; color:#fff;}

.footer{margin-top:30px; height:90px; line-height:90px;background:#fff; color:#BBBBBB; font-family:"Arial";border-top: 1px solid #ddd;}
.footer a{color:#BBBBBB;}
.footer a:hover{color:#FA4B6E;text-decoration: underline;}
.finner{width: 1000px;margin: 0 auto;overflow:hidden;}
.flogo,.fabout{float: left;height: 90px;}
.flogo{width: 260px;background: url(http://www.tianyatuku.com/skins/images/logo1.png) no-repeat 67px 25px;}
.fabout{width: 740px;overflow:hidden;}
.flinks b{margin:0 17px;font-family: "\5b8b\4f53";}

#gotop{display:none; cursor:pointer; width:61px; height:131px; position:fixed; _position:absolute; bottom:50px;left:50%;margin-left:510px; background:url(../images/gettop.png) no-repeat 0px -131px;}
